
<div id="top">
    <div id="topWrapper">
        <div>
            <div id="logo">
                <a href=""><%= image_tag "logo.png" %></a>
            </div>
            <div id="navigation">
                <div class="navigationLink"><a href="/projects">PROJECTS</a></div>
                <div class="navigationLink"><a href="/blog">BLOG</a></div>
                <div class="navigationLink"><a href="/contact">CONTACT</a></div>
            </div>
        </div>
        <div id="slogan">AN ENGINEERING STATE OF MIND.</div>
    </div>
    <div id="vectorField"></div>
</div>

<div id="team">
    <div class="header">
        <div class="title">THE TEAM</div><div class="nop"></div>
    </div>
    <div class="row">
        <div class="column"><!--TODO change to sebastian.jpg-->
            <div class="memberCard">
                <div class="avatar">
                    <%= image_tag "sebastian.jpg" %>
                </div>
                <div class="description">
                    <span>Juan Sebasti&aacute;n Angarita</span>
                    <p>
                        Currently a Junior studying Electrical &amp; Computer Engineering at CMU. I like to dream about the future, design it, and implement it.
                    </p>
                </div>
           </div>
        </div>
        <div class="column">
            <div class="memberCard">
                <div class="avatar">
                    <%= image_tag "nora.jpg" %>
                </div>
                <div class="description">
                    <span>Nora Mar&iacute;a T&aacute;rano</span>
                    <p><!--TODO improve description for Nora-->
                        Currently a Grad Student studying Electrical Engineering at Stanford. I like math, pi, and solving difficult problems.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <span>MADE IN 2013</span>
</div>