
<div id="top">
	<div id="topWrapper">
		<div id="header">
			<div id="logo">
				<%= image_tag "logo.png" %>
			</div>
			<div id="navigation">
				<div class="navigationLink"><a href="/projects">PROJECTS</a></div>
				<div class="navigationLink"><a href="/blog">BLOG</a></div>
				<div class="navigationLink"><a href="/contact">CONTACT</a></div>
			</div>
		</div>
		<div id="slogan">AN ENGINEERING STATE OF MIND.</div>
	</div>
    <div id="vectorField"></div>
</div>

<div id="team">
    <div id="teamHeader">
        <div class="title">THE TEAM</div><div class="nop"></div>
    </div>
</div>
