<%= stylesheet_link_tag "forms" %>
<%= stylesheet_link_tag "newProject" %>
<%= javascript_include_tag "newProject" %>
<div id="newProject">
	<div class="newProjectHeader">New Project</div>
	<form method="post" enctype="multipart/form-data">
		<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> />
		<label for="title">Title</label><input type="text" name="title" id="title" maxlength="255" />
		<label for="shortname">Shortname</label><input type="text" name="shortname" id="shortname" maxlength="255" />
		<label for="year">Year</label><input type="text" name="year" id="year" maxlength="4" />
		<label for="shortDescription">Short Description</label><textarea name="shortDescription" id="shortDescription"></textarea>
		<label for="longDescription">Long Description</label><textarea name="longDescription" id="longDescription"></textarea>
		<label for="technologies">Technologies</label><textarea name="technologies" id="technologies"></textarea>
		<label for="thumbnail">Thumbnail</label><input multiple type="file" name="thumbnail" id="thumbnail"/>
		<label for="images">Images</label><input multiple type="file" name="images[]" id="images"/>
		<input type="reset" value="Clear" />
		<input type="submit" value="Create and add new project" />
	</form>
</div>