<%= stylesheet_link_tag "contact" %>
<div id="contactBox">
	<form method="post">
		<input type="text" name="email" id="email" placeholder="email"/>
		<textarea name="message" id="message" placeholder="message"></textarea>
		<input type="submit" id="submit" value="send" />
	</form>
</div>