/*
 *= require normalize
 */

@import "mixins";

/* Clear Fix */
/* For modern browsers */
.clearFix:before,
.clearFix:after {
    content:"";
    display:table;
}
.clearFix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearFix {
    zoom:1;
}

/* Main styles */

html, body {
	font-family: "Open Sans";
	min-width: 960px;
	overflow-x: hidden;
	height: 100%;
}

#wrapper {
	min-width: 960px;
	min-height: 100%;
	position: relative;
}

#header {
	width: 960px;
	height: 42px;
	padding: 35px 0 20px 0;
	margin: 0 auto 0 auto;

	img {
		margin-left: 15px;
	}
}

#nav {
	height: 42px;
	float: right;
	display: inline-block;
}

.navItem {
	display: inline-block;
	line-height: 42px;
	margin: 0 15px;
	color: $lightBlack;
	font-size: 14px;
	font-weight: 700;
	@include antialias;


	a {
		text-decoration: none;
		color: inherit;


		&:hover {
			border-bottom: 2px solid $darkGrey;
		}

	}
}

#content {
	padding: 0px;
	padding-bottom: 50px;
}

#footer {
	font-size: 10px;
	line-height: 50px;
	color: $lightBlack;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	text-align: center;
}

