// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require reset

@import "mixins";

body {
    font-family: "Open Sans";
    background-color: #ededed;
    min-width: 980px;
    -webkit-text-size-adjust: 100%;
}

#top {
    background: white;
    @include shadow(0px, 0px, 7px, rgba(0,0,0,.2))
}

#topWrapper {
    width: 940px;
    padding: 20px 10px 0 10px;
    margin: auto;
}

#logo {
    display: inline;
}

#navigation {
    float: right;

    .navigationLink {
        display: table-cell;
        height: 42px;
        padding-left: 35px;
        vertical-align: middle;
        font-size: 14px;
        font-weight: 700;

        a {
            color: #333;
            text-decoration: none;
            @include antialias;

            &:hover {
                border-bottom: 2px solid #666;
            }

            &:active {
                border-bottom: 2px solid #333;
            }
        }
    }
}

#slogan {
	position: relative;
	z-index: 50;
    font-size: 80px;
    font-weight: 800;
    width: 725px;
    line-height: 100px;
    margin-top: 100px;
    @include antialias;
}

#vectorField {
    overflow: hidden;
    position: relative;
	height: 330px;

    canvas {
        position:absolute;
        left: 50%;
        margin-left: -900px;
    }
}

.cell {
	@include borderBox;
	position: absolute;
}

#team {
    width: 940px;
    padding: 20px 10px 0 10px;
    margin: auto;
}

.header {
    padding: 60px 0 80px 0;

    .title {
        background-color: #ededed;
        color: #666;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        position: relative;
        margin: auto;
        width: 150px;
        text-shadow: 1px 1px 0px white;
        @include antialias;
    }

    .nop {
        height: 1px;
        background: #f5f5f5;
        content: "";
        display: block;
        margin-top: -16px;
        border-top: 1px solid lighten(#999,20%);
    }
}

.row {
    width: 100%;
    position: relative;

    .column {
        width: 45%;
        margin: 0 23px;
        float: left;
        background: white;
        position: relative;
        @include borderBox;
        @include circle(8px);
        @include cuteshadow;

        .memberCard {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include circle(8px);
        }

        .avatar, .description {
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        .avatar {
            border-bottom: 1px solid #dedede;
            img {
                width: 100%;
                display: block;
                margin: auto;
            }
        }

        .description {
            background: white;
            margin-bottom: 40px;  

            span {
                color: #333;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                margin: 40px auto 20px auto;
                display: block;
                @include antialias;
            }

            p {
                width: 80%;
                color: #666;
                font-size: 14px;
                text-align: justify;
                margin: auto;
                @include antialias;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 120px;
    margin: auto;
    overflow: hidden;
    padding-top: 60px;
    clear: both;
    @include borderBox;

    span {
        display: block;
        color: #ededed;
        font-size: 12px;
        text-align: center;
        background: black;
        margin: auto;
        height: 120px;
        width: 120px;
        line-height: 75px;
        @include circle;
    }
}