@import "mixins";

$tileBorder: 30px;

#projectTiles {
	margin: 90px auto 0 auto;
}

.projectTile {
	float: left;
	position: relative;
	width: 250px;
	height: 250px;
	padding: 0;
	background: grey;

	&:hover {
		cursor: pointer;
	}
}

.tileInfo {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff3333;
	color: #fff;
	padding: $tileBorder;
	@include borderbox;
	@include antialias;

	&:hover {
		opacity: 1;
	}
}

.tileTitle {
	font-size: 18px;
}

.tileShortDescription {
	font-size: 14px;
	position: absolute;
	bottom: $tileBorder;
	width: 250px -  2*$tileBorder;
}


// Project Page

.decorationOuter {
	width: 50%;
	height: 20px;
	background: red;
	position: absolute;
}

.decorationInner {
	width: 690px;
	height: 20px;
	background: red;
}

.projectBox {
	background: white;
	width: 960px;
	margin: 0 auto;
}

.projectTitle {
	font-size: 30px;
	font-weight: 300;
	line-height: 120px;
	height: 120px;
	display: inline-block;
	@include antialias;
}

.projectYear {
	font-size: 18px;
	font-weight: bold;
	line-height: 120px;
	height: 120px;
	display: inline-block;
	@include antialias;
}

.projectDetails {
	color: white;
	display: inline;
	@include antialias;
}

.detailsCol {
	width: 360px;
	height: 400px;
	float: left;
}

.detail {
	width: 360px;
	padding: $tileBorder;
	position: relative;
	@include borderbox;
}

.detailTitle {
	font-size: 18px;
}

.detailText {
	font-size: 14px;
	position: absolute;
	bottom: $tileBorder;
	width: 360px -  2*$tileBorder;
}

.detailImage {
	width: 600px;
	height: 400px;
	float: left;
}

#detailDescription {
	background: $darkAqua;
	height: 225px;
}

#detailTechnologies {
	background: $lightBlack;
	height: 175px;
}