@import "mixins";

$tileBorder: 30px;
$tileSize: 250px;

#projectTilesContainer {
	display: block;
	margin: $gHeaderHeight+$gHeaderOffset auto 0 auto;	// looks weird because of CSS margin collapse
	overflow: hidden;
}

.projectTile {
	float: left;
	position: relative;
	width: $tileSize;
	height: $tileSize;
	padding: 0;
	background: gray;
	overflow: hidden;

	&:hover {
		cursor: pointer;
	}
}

.tileInfo {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $pinkLemonade;
	color: white;
	padding: $tileBorder;
	@include borderbox;
	@include antialias;

	&:hover {
		opacity: 1;
	}
}

.tileTitle {
	font-size: 18px;
}

.tileShortDescription {
	font-size: 14px;
	position: absolute;
	bottom: $tileBorder;
	width: $tileSize - 2*$tileBorder;
}